body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fafafa;
}

header {
    background: url('images/photo.JPG') no-repeat center center;
    background-size: cover;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding-bottom: 20px; 
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    text-align: center;
    margin: 0; 
}


section {
    padding: 50px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

section p, form label, form input, form button {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    line-height: 1.6em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type="text"]{
    padding: 10px;
    width: 100%;
    max-width: 500px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.name-fields {
    display: flex;
    justify-content: space-between;
    width: 65%;
  
}

.name-field {
    
    width: 48%;
}

.name-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9em;
}

.name-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.attendance-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
}

.attendance-options div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.attendance-options input[type="radio"] {
    margin-right: 10px;
}

.dietary p {
    font-size: 0.85em; 
    margin-top: -15px; 
    color: #666; 
}

.dietary label {
    margin-bottom: 5px; 
}





form button {
    padding: 15px 30px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #555;
}

.running {
    background-color: #333;
    color: white;
    padding: 50px 20px;
    margin: 50px 0;
}

.section1, .section2 {
    background-color: #f4f4f4;
    padding: 50px 20px;
    margin: 50px 0;
}
